.img-90 {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.img-260 {
    width: 260px;
    height: 260px;
    margin: 0 auto;
}

.name {
    color: $color-aqua;
    font-weight: bold;
    margin: 16px auto;
}

.m0-a {
    margin: 0 auto;
}

.df {
    display: flex;
}

.mt-16 {
    margin-top: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}
.jcsb{
    display: flex;
    justify-content: space-between;
}

.h-534 {
    height: 534px;
}

.w-169{
    width: 169px;
}

.blue {
    color: #56C4C5;
}

.box {
    background: #F5F5F5;
    border-radius: 12px;
}

.padding-p {
    padding: 24px 0 8px 0;
}
.all-c {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-align-c {
    text-align: center;
}
.fontSize-20{
    font-size: 20px;
}
.mr-13 {
    margin-right: 13px;
}
.ml-8 {
    margin-left: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mt-16{
    margin-top: 16px;
}
.m16-a {
    margin: 16px auto;
}
.m32-a {
    margin: 32px auto;
}
.pt-158 {
    padding-top: 158px;
}
.pt-24 {
    padding-top: 24px;
}
.pt-48 {
    padding-top: 48px;
}
.pb-8 {
    padding-bottom: 8px;
}
.pb-24 {
    padding-bottom: 24px;
}
.equal {
    margin: 33px 18px;
    font-size: 29px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-12 {
    font-size: 12px;
}

.star {
    width: 20px;
    height: 20px;
}
.w-352 {
    width: 352px;
}
.h-304 {
    height: 304px;
}